# For loop

In [2]:
jupyter lab --collaborative

SyntaxError: invalid syntax (2330325402.py, line 1)

In [1]:
for i in range(5):
    print(i)

0
1
2
3
4

In [3]:
for i in range(10):
    print("Hello")

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [4]:
for i in range (3):
    num = int (input('Enter a number: ')) #to ensure user input a int
    print('The square of your number is', num*num)
print('The loop is now done.')#out of the loop

Enter a number: 2
The square of your number is 4
Enter a number: 3
The square of your number is 9
Enter a number: 4
The square of your number is 16
The loop is now done.

In [8]:
print('A')
print('B')
for i in range(5):
    print('C')
    for j in range(1):
        print('D')
        print('E')

A
B
C
D
E
C
D
E
C
D
E
C
D
E
C
D
E

# if statement

In [11]:
number = 10

#check if number is greater than 0
if number >0:
    print('Number is positive')

#else
print('The if statement is easy')

Number is positive
The if statement is easy

# if...else statement

In [13]:
number = -6

if number >0:
    print('Number is positive')

else:
    print('Negative number')
    
print("Done")

Negative number
Done

# if...elif... else statement

In [14]:
number =0

if number >0:
    print("Positive number")

elif number == 0:
    print("Zero")

else:
    print("Negative number")
    
print("This statement is always executed")

Zero
This statement is always executed

In [16]:
i = int(input("Enter a number: "))
j = int(input("Enter another number: "))

if i > j:
    print("First number is the largest")

else:
    print("Second number is the largest")

Enter a number: 3
Enter another number: 5
Second number is the largest

In [1]:
i = 1
while(i<6):
    print(i)
    i += 1;

1
2
3
4
5

In [2]:
i =1
while i<6:
    print(i)
    if i == 3:
        break
    
    i +=1

1
2
3

In [3]:
a = 1
while a <16:
    print(a)
    a+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [21]:
fruit = ["orange", "apple", "pear", "banana", "kiwi", "apple", "banana"]
fruit.count("apple")

2

In [22]:
fruit.count("banana")

2

In [23]:
fruit.count("egg")

0

In [24]:
fruit.index("banana") #the index of banana in the list

3

In [25]:
fruit.index("banana", 4 ) #start from

6

In [26]:
fruit.reverse()#reverse the item in the list
fruit

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

In [27]:
fruit.append('grape')#add in 
fruit

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'grape']

In [28]:
fruit.sort()
fruit

['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']

In [29]:
fruit.pop(2) #remove the item with index 2 in the list
fruit

['apple', 'apple', 'banana', 'grape', 'kiwi', 'orange', 'pear']

# List

In [30]:
L = [] #create empty list
L = ["This","is", "a", "list"]
L

['This', 'is', 'a', 'list']

In [31]:
#to count the length of list
n = len(L)
n

4

In [32]:
# seq = [start:stop]
L =['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']
L

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

In [33]:
K= L[2:6]
K

['kiwi', 'banana', 'pear', 'apple']

In [34]:
#L[-1] can be used to access the last item in a list
L[-1]

'orange'

In [35]:
L.reverse()
L

['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

In [36]:
L[:] #catch all the item in the list

['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

In [37]:
L[:5] #start at the begining but stop at index 5

['orange', 'apple', 'pear', 'banana', 'kiwi']

In [38]:
L[2:] #start from idex 2 and go til the end

['pear', 'banana', 'kiwi', 'apple', 'banana']

In [39]:
# seq = L[start: stop: step]
L[1:6:2] #jump twice take one

['apple', 'banana', 'apple']

In [40]:
L = [11,12,13,14,15,16,17,18,19,20]
L[0:7:3]

[11, 14, 17]